*{
  margin: 0px;
}
.my-bar{
 
 text-align: center;
 width: 900px;
} 

.my-header{
  background-color: #1E2A5E;

}

.my-card{
 
  flex: 1 1 calc(33.33% - 20px); /* Allow the card to flexibly take up 1/3 of the row */
  max-width: 390px; /* Optional: Limit the maximum width of each card */
  margin: 10px;
}

.my-footer{
  position: relative;
  bottom: 0px;
}

.my-cont{
  
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-form{
  background-color: #7C93C3;
  margin: 20px;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
}

.my-chart{
  
  text-align: center;
}

.my-data{
  text-align: left;

}

.my-about{
  margin: 10px;
  width: 50%;

  border-style: solid;
  border-top-style:none ;
  border-bottom-style:none ;
  
}

.my-delete{
  height: 33px;
}

.my-data-shower{
  display: flex;
}

.my-button-shower{
  margin-bottom: 10px;
  background-color: #7C93C3;
  display: flex;
  justify-content: space-around;
  border-bottom-style:groove  ;
  border-color: black;
}

.my-button{
 
  padding: 5px;
}

.my-burst-time{
  text-align: center;
  
  margin-left: 300px;
  margin-right: 300px;

}

.my-avg-time{
  max-width: 252px;
 
}

.my-body{
  font-family: serif;
}
.my-navbar-heading{
  font-family: "Dancing Script", cursive;
  
  
  
}
.my-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-process-container{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.my-card2{
 display: flex;
 margin: 10px;
}

.my-flex-div{
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.data-shower{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.card {
  flex: 1; 
  min-width: 0; 
}